.menu-conainer {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 10px;
    color: white;
}

.test {

    font-style: italic;
    font-size: 50px;
    margin-top: 0px;
}

.menu-item {
    display: flex;
}

.menu-item li {
    list-style: none;
    margin: 5px;
    padding: 10;
    font-size: 18px;
}

.menu-item li:hover {
    color: blue;
    cursor: pointer;
}

.banner-container {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.banner-descripti {
    margin: 50px;
}

.banner-text {
    color: red;
    font-size: 24px;
}

.tittle1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.text {
    font-size: 25px;
    margin: 10px;
}

.banner-btn {
    padding: 18px 38px;
    background-color: crimson;
    margin: 10px;
    font-size: 18px;
    color: white;
}

.section-2 {
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-between;


}

.tittle {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-one {
    width: 350px;
    height: 250px;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 10px 10px 20px gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
    margin: 20px;
}

.card-one:hover {
    border: 1px solid rgb(184, 31, 31);
    margin-top: -20px;
    transition: .8ms;
}

.gem-icon {
    width: 50px;
}

.justify {
    text-align: justify;
}

.about-container {
    display: flex;
    background-color: black;
    color: white;

}

.bewtten {
    font-size: 20px;
}

.about-left {
    width: 700px;
}

.about-right {
    width: 700px;
}

.workout-image {
    display: flex;
    margin-top: 50px;
}

.workout-image img {
    width: 300px;
    height: 550px;
    transform: skewY(-10deg);
}

.btn-banner {
    text-decoration: none;
    color: white;
}

.bootom {
    margin-top: 40px;
}

.workout-containar {
    width: 600px;
    height: 200px;
    background-image: url(./images/shape/Group_33094_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    padding: 10px 20px;
    background-color: rgb(227, 131, 6);
    font-size: 20px;
    margin: 10px;
    color: white;
}

.woman-gym {
    display: flex;
    margin: 50px;
}

.services-container {
    margin-top: 50px;
    display: flex;

}

.service-1 {
    width: 400px;
    height: 600px;
    border: 1px solid rgb(18, 17, 17);
    box-shadow: 10px 10px 30px gray;
    padding: 5px;
    border-radius: 20px;
    margin: 20px;

}

.service-img img {
    width: 100%;
    border-radius: 5px;
    margin: 1px;
}

.tryit {
    width: 500px;
    height: 350px;
    margin: 0px;

}

h5 {
    color: crimson;
}

.batch {
    position: relative;
}

.batch-img {
    width: 50px;
    top: -35px;
    left: 330px;
    position: absolute;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;

}

p {
    text-align: center;
}

span {
    color: rgb(243, 11, 11);
}